body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}

#about, #team, #contact {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
}

h2 {
    color: #333;
}

p {
    color: #555;
}

.team-member {
    margin-top: 20px;
    text-align: center;
}

.team-member img {
    max-width: 35%;
    border-radius: 50%;
 
}

#contact {
    background-color: #ecf0f1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9c013;
    background-color: #133054;
    padding: 10px;
}