
/* Add Payment button style */
.add-payment-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-payment-button:hover {
    background-color: #45a049;
}

body {
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: #f5f5f5;
}

h1 {
    background-color: #133054;
    color: white;
    padding: 15px;
    margin: 220px 0 0 0;
}

.fees-table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
}

.fees-table th, .fees-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.fees-table th {
    background-color: #133054;
    color: white;
}

.fees-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray shade for even rows */
}

.fees-table tr:nth-child(odd) {
    background-color: #ffffff; /* Default color for odd rows */
}

.fees-table .paid {
    color: #2ecc71; /* Green color for paid fees */
}

.fees-table .remaining {
    color: #e74c3c; /* Red color for remaining fees */
}

.card1 {
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
    width: 25%;

    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    padding: 50px;
    text-align: center;
    transition: transform 0.2s;
}

.card1:hover {
    transform: scale(1.05);
}

.card1 h3 {
    font-size: 20px;
    margin: 0;
    color: black;
}

.card1 p {
    font-size: 24px;
    font-weight: bold;
    color: #133054  ;
    margin: 10px 0;
}

.card1 button {
    background-color: #133054;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card1 button:hover {
    background-color: #333;
}




.card2 {
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 50px;
    float:right;
    width: 25%;

    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    padding: 50px;
    text-align: center;
    transition: transform 0.2s;
}

.card2:hover {
    transform: scale(1.05);
}

.card2 h3 {
    font-size: 20px;
    margin: 0;
    color: black;
}

.card2 p {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 10px 0;
}

.card2 button {
    background-color: #133054;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.card2 button:hover {
    background-color: #060726;
}

.update{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update:hover {
    background-color: #0a520d;
}

.delete{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete:hover {
    background-color: #420303;
}

