/* Footer Styles */

.footer {
    background-color: #133054;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer h1 {
    margin: 10px 0;
    font-size: 24px;
    color: #fff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff8000;
}

.footer-logo img {
    width: 50px;
}

.footer-logo h1 {
    font-size: 24px;
    color: #fff;
}

.footer-social .social-icon {
    margin: 0 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.footer-social .social-icon img {
    max-width: 100%;
}

.footer-social .social-icon:hover {
    background-color: #ff8000;
    transition: background-color 0.3s;
}
